.portfolio-container {
  margin-top: 121px;
  margin-bottom: 121px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.portfolio__link {
  @include portfolio-btn;
}
.portfolio__list {
  @include flex;
}
.portfolio__item:not(:last-child) {
  margin-right: 15px;
}
.portfolio__cards {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  max-width: 100%;
}
.portfolio__card1 {
  @include portfolio-card1;
}
.portfolio__card {
  @include portfolio-card;
}
.portfolio__cards--2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 20px;
}
@media only screen and (max-width: 1302px) {
  .portfolio-container {
    display: block;
  }
  .portfolio__list {
    margin-top: 40px;
  }
  .portfolio__cards {
    flex-direction: column;
  }
  .portfolio__cards--2 {
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
  }
}
@media only screen and (max-width: 922px) {
  .portfolio__cards--2 {
    gap: 40px;
  }
}
@media only screen and (max-width: 834px) {
  .portfolio__cards--2 {
    gap: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .portfolio__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio__item {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 670px) {
  .portfolio__card1 {
    display: none;
  }
  .portfolio__cards--2 {
    display: block;
  }
  .portfolio__card {
    margin-bottom: 20px;
    max-width: 374px;
    margin-left: auto;
    margin-right: auto;
  }
}
